workflows/agrovalue-dados-meteorologicos.json
{
  "name": "AgroValue - Processamento de Dados Meteorológicos",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/webhook/clima",
        "options": {}
      },
      "name": "Webhook - Dados Clima",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// Processar dados meteorológicos\nconst dados = items[0].json;\n\n// Calcular índices agronômicos\nconst temperatura = dados.temperatura;\nconst umidade = dados.umidade;\nconst precipitacao = dados.precipitacao;\n\n// Índice de conforto térmico para gado\nconst ict = temperatura + (0.36 * umidade) + 41.2;\n\n// Risco de doenças em plantas\nconst riscoDoenca = (umidade > 80 && temperatura > 20) ? 'Alto' : 'Baixo';\n\n// Necessidade de irrigação\nconst necessidadeIrrigacao = precipitacao < 5 ? 'Sim' : 'Não';\n\nreturn [{\n  json: {\n    ...dados,\n    indices: {\n      conforto_termico_gado: ict,\n      risco_doenca_plantas: riscoDoenca,\n      necessidade_irrigacao: necessidadeIrrigacao,\n      data_processamento: new Date().toISOString()\n    }\n  }\n}];"
      },
      "name": "Function - Processar Dados",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.indices.risco_doenca_plantas}}",
              "value2": "Alto"
            }
          ]
        }
      },
      "name": "IF - Risco Alto",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "message": "⚠️ *Alerta AgroValue*\n\n🌡️ Risco alto de doenças nas plantas detectado!\n\n📊 *Dados atuais:*\n• Temperatura: {{$json.temperatura}}°C\n• Umidade: {{$json.umidade}}%\n• Precipitação: {{$json.precipitacao}}mm\n\n🔍 *Recomendações:*\n• Monitore as culturas de perto\n• Considere aplicação preventiva\n• Verifique sistemas de ventilação",
        "chatId": "{{$env.TELEGRAM_CHAT_ID}}",
        "parseMode": "Markdown"
      },
      "name": "Telegram - Alerta",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        900,
        200
      ],
      "credentials": {
        "telegramApi": {
          "id": "2",
          "name": "AgroValue Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "dados_meteorologicos",
        "columns": "timestamp, temperatura, umidade, precipitacao, ict, risco_doenca, necessidade_irrigacao",
        "additionalFields": {
          "mode": "independently"
        }
      },
      "name": "PostgreSQL - Salvar Dados",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        680,
        480
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "AgroValue DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.indices.necessidade_irrigacao}}",
              "value2": "Sim"
            }
          ]
        }
      },
      "name": "IF - Irrigação Necessária",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "url": "https://api.sistema-irrigacao.com/ativar",
        "options": {
          "headers": {
            "Authorization": "Bearer {{$env.IRRIGACAO_API_TOKEN}}"
          },
          "body": {
            "setor": "{{$json.setor}}",
            "duracao": 30,
            "motivo": "Baixa precipitação detectada"
          }
        },
        "httpMethod": "POST"
      },
      "name": "HTTP - Ativar Irrigação",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1120,
        400
      ]
    }
  ],
  "connections": {
    "Webhook - Dados Clima": {
      "main": [
        [
          {
            "node": "Function - Processar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Processar Dados": {
      "main": [
        [
          {
            "node": "IF - Risco Alto",
            "type": "main",
            "index": 0
          },
          {
            "node": "PostgreSQL - Salvar Dados",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF - Irrigação Necessária",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Risco Alto": {
      "main": [
        [
          {
            "node": "Telegram - Alerta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Irrigação Necessária": {
      "main": [
        [
          {
            "node": "HTTP - Ativar Irrigação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": "2"
}
